body {
  background-color: #010D00;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #F27405;
  margin-right: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  color: #010D00;
}

.status {
  font-size: 20px;
  color: #BF604B;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #F24822;
}

.history {
  color: #D9C1B8;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
}

.history > h1 {
  margin-bottom: 5px;
}

.move {
  margin-top: 10px;
}

.move > button {
  background-color: #F24822;
  padding: 5px 20px;
  border-style: none;
}

.move > button:hover {
  cursor: pointer;
  opacity: 90%;
}

.ranking {
  margin-left: 50px;
  color: #D9C1B8;
}

.ranking > h3 {
  color: #F27405;
}
